/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow-x: auto; /* Enable horizontal scrolling on small screens */
  white-space: nowrap; /* Prevent text wrapping */
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; /* Allow buttons to wrap on small screens */
  gap: 1rem; /* Add spacing between buttons */
}